<!DOCTYPE html> <!-- Define que o documento é do tipo HTML -->
<html>
    
<head> <!-- Tag que armazena a parte logica do html -->>
    <meta charset="UTF-8"> <!-- Tag que define o padrão de caracteres utilizados -->
    <title>Insert title here</title>
</head>
<body> <!-- Corpo da página do html -->
    <form method="post"> <!-- Tag que define que tudo dentro dela é um formulário -->
		Descrição: <input type="text" value="" name="descricao" /> <!-- tag de entrada de informações do usuario -->
	
		<button type="submit">Salvar</button> <!-- Botão do tipo "submit", que envia as informações que o usuario colocou no formulário -->

	</form>

</body>


</html>